@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
 box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
 box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
 display: block; /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

/*-- Main Content --*/
body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    font-family: Palatino Linotype, sans-serif;
    font-size: 20px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url("/plan-images/sunny-winter.jpg"); /* adds background image*/
    background-size: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif, generic-family;
}

.site-name {
    font-size: 2em; /* makes the titles name larger and bolder */
    font-weight: 600;
}

/*-- header --*/
header {
    display: flex;
    height: 110px;
    background-color: #00a8eb;
}

header img {
    margin-top: 15px;
    margin-left: 15px;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

header h1 {
    padding-left: 10px;
    margin-top: 45px;
    font-size: 22px;
}

/*-- navigation bar --*/
nav {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00a8eb;
    border-top-style: solid;
    border-top-width: 2px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: -35px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    padding-right: 5px;
    color: black;
}
nav a:hover {
    text-decoration: none; /* changes links when hoverd on */
    color: #FFF;
}

/*-- curretn conditions --*/
.cur_conditions {
    background-color: rgba(200,200,200,.6); /* makes box around content */
    margin: .2em auto;
    border: 1px solid;
    border-radius: 10px;
}

.cur_conditions h2 {
    font-size: 20px;
    margin-left: 20%;
}

.cur_conditions ul {
    list-style: none;
    padding-right: 20px;
    padding-bottom: 10px;
}

/*-- current temp --*/
.cur_temp {
    background-color: rgba(200,200,200,.6); /* makes box around content */
    margin: .2em auto;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}

section p b {
    font-size: 40px;
}

section img {
    float: left;
}

.high-low {
    float: left;
    margin-left: 20px;
    padding-right: 10px;
}

.cur_temp img {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.cur_temp h2 {
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    }


/*-- Hourly --*/
.hourly {
    background-color: rgba(200,200,200,.6); /* makes box around content */
    margin: .2em auto;
    border: 1px solid;
    border-radius: 10px;

}

.hourly h2 {
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.hourly ul {
    list-style: none;
    overflow: auto;
    height: 250px;
}

/*-- footer --*/
footer {
    font-size: 18px;
    background-color: #00a8eb; /* changes color of background */
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 56px;
}

/*-- Desktop --*/
@media only screen and (min-width: 1100px) {
    header h1 {
        font-size: 40px;
        margin-top: 30px;
    }
    
    nav {
        position: static;
        padding-bottom: 1px;
    }
    
    nav ul li a {
        font-size: 1.5em;
        padding-right: 25px;
    }
    
    .franklin_title {
        width: 100%;
        font-size: 3em;
        padding-left: 15px;
    }
    
    main {
        flex-flow: row;
        align-items: initial;
        flex-wrap: wrap;
        padding-bottom: 6%;
    }
    
    footer {
        margin: 0;
    }
    
    .cur_temp {
        order: 2;  
    }
    
    .cur_conditions {
        order: 1;
    }
    
    .hourly {
        order: 3;
    }
    
    .cur_temp h2 {
     font-size: 20px;
    }
}