@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
 box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
 box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
 display: block; /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

body {
 margin: 0; /* remove any margin from body */
 padding: 0; /* ditto for padding */
font: Helvetica, sans-serif;
font-size: 20px;
}

main {
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
 background-image: url("/plan-images/sunny-winter.jpg"); /* adds background image*/
 background-size: cover;
 flex-direction: column;
 justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 6px;
}

nav {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: aqua;
    padding-bottom: 45px;
    
}

.nav-class {
    list-style: none;
    display: flex;
    flex-direction: row;
    
    

}

.site-name {
    font-size: 2em; /* makes the titles name larger and bolder */
    font-weight: 600;
}

footer {
    position: fixed;
    font-size: 18px;
    background-color: aqua; /* changes color of background */
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}

header {
    background-color: aqua; /* changes color of background */
}

nav a:hover {
    text-decoration: none; /* changes links when hoverd on */
    color: #FFF;
}

.overview {
    background-color: rgba(200,200,200,.6); /* makes box around content */
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}

.cur_conditions {
    background-color: rgba(200,200,200,.6); /* makes box around content */
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}

.hourly {
    background-color: rgba(200,200,200,.6); /* makes box around content */
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;

}