@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
 box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
 box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
 display: block; /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

/*-- Main Content iphone 6 --*/
body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    font-family: Palatino Linotype, sans-serif;
    font-size: 20px;
    background-image: url("/acme/images/site/background.jpg"); /* adds background image*/
    background-size: cover;
   background-repeat: no-repeat;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif, generic-family;
}

.site-name {
    font-size: 2em; /* makes the titles name larger and bolder */
    font-weight: 600;
}


/*-- Header --*/
header img {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 8em;
    width: 500px;
}

/*-- background --*/
.home-content {
    background-color: #ffffff;
    margin-left: 10px;
    width: 128%;
    margin-top: -21px;
}

/*-- Navagation Bar --*/
nav {
    background-color: #de2226;
    margin-top: -25px;
    margin-left: 10px;
    margin-right: -115px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    
}

nav ul li a {
    text-decoration: none;
    padding-right: 30px;
    font-size: 22px;
    color: #ffffff;
}

/*-- Welcome message --*/
.welcome-message {
    background-color: #ffffff;
    font-size: 30px;
    margin-top: -20px;
    padding-bottom: 0px;
    width: 128%;
    text-align: center;
    margin-left: 10px;
}

.acme-rocket {
    background-image: url("/acme/images/site/feature.jpg");
    background-size: cover;
    width: 94.6%;
    margin-top: -25px;
    height: 300px;
    display: flex;
    justify-content: center;
    color: #990033;
    font-size: 17px;
    margin-left: 14px;
}

div > h2 {
    margin-bottom: -20px;
    margin-top: 3%;
}

.acmerocket-container {
     margin-right: 20px;

}

ul div a {
    position: relative;
    top: 140px;
}

/*-- recipe section--*/
.recipe-container img {
    width: 130px;
    height: 90px;
    margin-top: 4px;
    margin-left: 57px;
    margin-right: 50px;
    background-color: #808080;
    padding: 10px;
}

.recipe {
    font-size: 15px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipe h2 {
    text-align: center;
}

.recipe a {
        padding-bottom: 10px;
}

.img1 {
    margin-left: 20px;
}

.img2 {
   padding-left: 62px;
}

.img3 {
    padding-left: 90px;
}
/*-- review section--*/
.reviews h2 {
    text-align: center;
}

.reviews li {
    padding-bottom: 10px;
}

/*-- footer--*/
footer {
    background-color: #ffffff;
    margin-left:  10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-top: solid;
    border-color: #000000;
    text-align: center;
    font-size: 15px;
    width: 128%;
}

/*-- product page--*/
.product-content {
    background-color: #ffffff;
    width: 480px;
    margin-left: 125px;
    margin-top: -21px;
}

.product-picture img {
    width: 250px;
    margin-left: 106px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-description {
    padding-bottom: 40px;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.product-review {
    font-size: 25px;
}

.product-manufacture {
    padding-bottom: 10px;
    font-size: 25px;
}

.product-price {
    font-size: 35px;
    color: #de2226;
    padding-bottom: 60px;
    padding-top: 30px;
}

.spacing {
    margin-top: 25px;
}

/*-- Large desktop --*/
@media (min-width: 376px) {
    main {
    }
    
    header {
        width: 98.5%;
        margin-left: 10px;
        BACKGROUND-COLOR: #ffffff;
        margin-top: 10px;
    }
    
    nav {
        width: 98.5%;
    }
    
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    
    
    .welcome-message {
        width: 98.5%;
        font-size: 35px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: left;
        margin-right: 0px;
        margin-left: 10px;
        padding-left: 10px;
    }
    
    .home-content {
        width: 98.5%;
        margin-right: 125px;
        margin-top: -25px;
    }
    
    .acme-rocket {
        width: 90%;
        height: 400px;
        margin-left: 8px;
    }
    
    .acmerocket-container {
        display: flex;
        flex-direction: column;
        position: sticky;
        left: 100%;
    }
    
    ul div a {
        top: 0;
    }
    
    .recipe h2 {
        text-align: start;
        margin-left: 45px;
        
    }
    
    .recipe-container {
        display: flex;
        flex-flow: column;
        float: left;
    }
    
    .img1 {
        padding-left: 26px;
    }
    
    .img2 {
        padding-left: 86px;
    }
    
    .img3 {
        padding-left: 130px;
    }
    
    .recipe-container:last-child {
        padding-bottom: 70px;
    }
    
    .recipe-container img {
        width: 150px;
        height: 100px;
        margin-top: 4px;
        margin-left: 47px;
        margin-right: 50px;
        background-color: #808080;
        padding: 10px;
    }
    
    .reviews h2 {
        font-size: 24px;
        text-align: left;
        margin-left: 40px;
        margin-top: -40px;
    }
    
    .reviews {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        float: left;
    }
    
    .reviews li {
        padding-bottom: 25px;
    }
    
    footer {
        width: 98.5%;
        padding-bottom: 5px;
    }
    
    nav ul li a {
        padding-left: 10px;
    }
    
    
    /*-- desktop product page --*/
    header {
        width: 98.5%;
    }
    
    .product-content {
        width: 98.5%;
        margin-left: 10px;
        margin-top: -25px;
    }
    
    .product-picture img {
        height: 400px;
        width: 350px;
        margin-left: 20px;
        margin-right: 20px;
        float: left;
        padding-bottom: 25px;
    }
    
    .alignment {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-left: 50px;
    }
    
    .product-description {
        font-size: 30px;
        padding-bottom: 25px;
        padding-right: 100px;
    }
    
    .product-review {
        font-size: 30px;
        padding-left: 10px;
    }
    
    .product-manufacture {
        font-size: 30px;
        padding-bottom: 25px;
        padding-left: 10px; 
    }
    
    .product-price {
        font-size: 50px;
        padding-left: 10px;
        padding-bottom: 25px;
    }
    
    html, body {
    max-width: 100%;
    overflow-x: hidden;
}
}


